<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>Usuarios</title>

        <meta name="theme-color" content="#black">
    </head>
    <body>
        
        <app-header></app-header>
    <main style="min-height: 80vh;">
        <div class="container d-flex gap-1 justify-content-left">
            <div class="form-group">
                <label for="Autor">Alias</label>
                <input type="text" [(ngModel)]="alias" name="filtro_lias" id="alias" class="form-control">
              </div>
              <div class="form-group">
                <label for="Titulo">Cantidad de poemas mayor a</label>
                <input type="text" [(ngModel)]="poemas" name="filtro_poemas" id="poemas" class="form-control">
              </div>
              <div class="form-group">
                <label for="Titulo">Cantidad de reviews mayor a</label>
                <input type="text" [(ngModel)]="reviews" name="fitlro_reviews" id="reviews" class="form-control">
              </div>

            <div class="ms-auto">
              <app-sign-up-modal></app-sign-up-modal>
            </div>
            
        </div>
    
        <app-users-table [parameters]="params"></app-users-table>
        <app-pagination></app-pagination>

</main>


    </body>
</html>
