<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>Usuarios</title>

        <meta name="theme-color" content="#black">
    </head>
    <body>
        
        <app-header></app-header>
    <main style="min-height: 80vh;">
        <div class="container d-flex gap-1 justify-content-left">
          <button (click)="clearForms()" class="btn btn-primary">Limpiar Filtros</button>
            <div class="form-group">
                <label for="Autor">Alias</label>
                <input type="text" [(ngModel)]="alias" (ngModelChange)="updateParams()" name="filtro_alias" id="alias" class="form-control">
              </div>
              <div class="form-group">
                <label for="Titulo">Cantidad de poemas mayor a</label>
                <input type="text" [(ngModel)]="poemas" (ngModelChange)="updateParams()" name="filtro_poemas" id="poemas" class="form-control">
              </div>
              <div class="form-group">
                <label for="Titulo">Cantidad de reviews mayor a</label>
                <input type="text" [(ngModel)]="reviews" (ngModelChange)="updateParams()" name="filtro_reviews" id="reviews" class="form-control">
              </div>
              <div class="form-group">
                <label for="desplegable">Ordenar</label>
                <select name="desplegable" [(ngModel)]="orden" (change)="updateParams()" name="ordernar" id="orden" class="form-control">
                  <option [ngValue]="'none'" >--Elegir una opción --</option>
                  <option value="alias">Alias(ascendente)</option>
                  <option value="alias[desc]">Alias(descendente)</option>
                  <option value="poem_count">Cant. de poemas(ascendente)</option>
                  <option value="poem_count[desc]">Cant. de poemas(descendente)</option>
                </select>
             </div>
            


            <div class="ms-auto">
              <app-sign-up-modal></app-sign-up-modal>
            </div>
            
        </div>
    
        <app-users-table [parameters]="params" (pagesEvent)="updatePages($event)"></app-users-table>
        <app-pagination [pages]="pages" (changePageEvent)="updatePage($event)"></app-pagination>

</main>


    </body>
</html>
