<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>Usuarios</title>

        <meta name="theme-color" content="#black">
    </head>
    <body>
        
        <app-header></app-header>
    <main style="min-height: 80vh;">
        <div class="container d-flex gap-1 justify-content-left">
          

            <app-crud-filters (filtersChanged)="updateParams($event)"></app-crud-filters>


            <div class="ms-auto">
              <app-sign-up-modal></app-sign-up-modal>
            </div>
            
        </div>
    
        <app-users-table [parameters]="params" (updatePagesEvent)="paginationPages($event)"></app-users-table>
        <div class="container">
          <div class="row">

            <!-- Empty Column to create space (if needed) -->
            <div class="col-sm-4"></div>

            <!-- Pagination (Middle) -->
            <div class="col-sm-4 text-center">
              <app-pagination [pages]="pages" (changePageEvent)="getPage($event)"></app-pagination>
            </div>
        
            
        
            <!-- Items per Page (End) -->
            <div class="col-sm-4 order-sm-last text-end">
              <div class="d-flex justify-content-end">
                <app-items-per-page (itemsPerPageEvent)="getItemsPerPage($event)"></app-items-per-page>
              </div>
            </div>
            
          </div>
      </div>

</main>


    </body>
</html>
