<div class="container" id="head">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <h2>Poemas</h2>
      <div class="col-md text-end ">
        <button type="button" class="btn btn-outline-primary me-2" data-bs-toggle="modal" data-bs-target="#modalLoginForm">Login</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalSignInForm">Sign-up</button>
      </div>
    </header>
</div>