
    <!-- Header Component -->
    <app-header></app-header>
    
 <!-- Modal Log In -->
 <app-log-in-modal></app-log-in-modal>

  <!-- Modal Sign Up -->
  <app-sign-up-modal></app-sign-up-modal>



    <main style="min-height: 80vh;">
    

    <div *ngIf="isToken" class="container d-flex gap-1 justify-content-left">
        <!-- Boton Add Peom -->
        <app-add-poem-btn></app-add-poem-btn>
        <div class="container d-flex gap-1 justify-content-left flex-row-reverse">
            <!-- Items per Page -->
            <app-items-per-page></app-items-per-page>
        </div>
        <app-add-poem-form></app-add-poem-form>
    </div>

    <div id="poemsDiv" class="album py-5 bg-light">
        <div class="container">
        
            <app-poem-card [parameters]="params"></app-poem-card>
        
        </div>
        <!-- Pagination -->
        <app-pagination></app-pagination>
    </div>
</main>
