


<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">        
    <div *ngFor="let poem of poems">
        <div class="col">
            <div class="card" style="min-height:22rem;">
                <div class="card-body d-block h-100">
                    <div class="d-flex justify-content-between align-items-center h-100">
                        <h5 class="card-title text-truncate"><a routerLink="/view-poem/{{poem.id}}" style="text-decoration: none ; color:black">{{poem.title}}</a></h5>
                        <div class="btn-group flex-row-reverse">
                        <a routerLink="/view-poem/{{poem.id}}" style="text-decoration: none"><button type="button" class="btn btn-sm btn-outline-secondary">Ver</button></a>
                        </div>
                    </div>
                    <h6 class="card-subtitle mb-2 text-muted">by <a routerLink="/user/{{poem.user}}">{{poem.alias}}</a></h6>
                    <h6><small class="text-muted">{{poem.post_date}}</small></h6>
                    <!--RATING -->
                    <ul class="list-inline rating-list">
                        <ng-container *ngIf="poem.rating; else noRating">
                            <li *ngFor="let star of generateStarsArray(poem.rating)" style="display: inline-block; pointer-events: none;">
                              <i style="color: rgba(245, 245, 8, 0.747)" class="fa fa-star" [ngClass]="{'selected': (star <= poem.rating)}"></i>
                            </li>
                            <li style="display: inline-block; pointer-events: none; vertical-align: middle;">{{ poem.rating }}</li>
                          </ng-container>
                          <ng-template #noRating>
                            <h6><small class="text-muted">No tiene reviews aun</small></h6>
                          </ng-template>
                      </ul>
                      
                    <p class="card-text multi-line">{{poem.content}}</p>
                </div>
            </div>
        </div>
    </div>       
            