<div class="container" id="head">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <h2>Poemas de @{{user}}</h2>
      <div class="col-md text-end ">
        <app-log-in-modal></app-log-in-modal>
      </div>
    </header>
  </div>
    
  <!-- Modal Sign Up -->
 <div class="modal fade" id="modalSignInForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <!-- Sign Form -->
          <form action="">
            <div class="modal-header">
              <h5 class="modal-title">Sign Up</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                  <label for="Username">Username<span class="text-danger">*</span></label>
                  <input type="text" name="username" class="form-control" id="Username" placeholder="Enter Username">
              </div>
              <div class="mb-3">
                  <label for="E-mail">E-mail<span class="text-danger">*</span></label>
                  <input type="text" name="username" class="form-control" id="E-mail" placeholder="Enter E-mail">
              </div>
  
  
              <div class="mb-3">
                  <label for="Password">Password<span class="text-danger">*</span></label>
                  <input type="password" name="password" class="form-control" id="Password" placeholder="Enter Password">
              </div>
              
            </div>
            <div class="modal-footer pt-4">                  
              <button type="button" class="btn btn-primary mx-auto w-100">Sign-Up</button>
            </div>
        </form>
      </div>
    </div>
  </div>



    <main style="min-height: 80vh;">
    
    <div class="container d-flex gap-1 justify-content-left flex-row-reverse">
    
        <div class="form-group">
            <label for="desplegable">Ordenar por</label>
            <select name="desplegable" id="desplegable" class="form-control">
              <option value="">--Elegir una opción --</option>
              <option value="opcion1">Titulo (ascendente)</option>
              <option value="opcion2">Titulo (descendente)</option>
              <option value="opcion3">Calificacion (ascendente)</option>
              <option value="opcion4">Calificacion (descendente)</option>
              <option value="opcion5">Fecha (ascendente)</option>
              <option value="opcion6">Fecha (descendente)</option>
            </select>
         </div>    

    </div>

   

    <div class="album py-5 bg-light">
        <div class="container">

            <app-poem-card [parameters]="user_id"></app-poem-card>
        </div>
        <nav class="mt-3" ria-label="Page navigation example">
            <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            </ul>
        </nav>
    </div>
</main>
