     <!-- Modal confirmacion delete poem-->
     <div class="modal fade" tabindex="-1" role="dialog" [id]="'confirmationModal-'">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Confirmar Eliminación</h5>
            </div>
            <div class="modal-body">
              ¿Está seguro que desea eliminar el poema <b>{{title}}</b> ?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="closeConfirmationModal()"data-bs-dismiss="modal">Cancelar</button>
              <button type="button" class="btn btn-danger" (click)="deleteUserConfirmed(poem_id,title)">Eliminar</button>
            </div>
          </div>
        </div>
      </div>