
<app-add-review-form></app-add-review-form>
        <app-header></app-header>
    
    


    <main style="min-height: 80vh;">
    
        <div class="d-flex flex-column">
            <div class="container ">
                <h1>{{title}}, by <a routerLink="/user/{{user_id}}">{{alias}}</a></h1>
                <p>{{content}}</p>
            </div>
            <div class="container d-flex gap-1 justify-content-left">
                <div class="container d-flex flex-row gap-5 align-items-center">
                    
            
                        <h1>Reseñas</h1>
                        <app-add-review-btn></app-add-review-btn>
                     
                </div> 
                <!-- items por pagina -->
                <app-items-per-page></app-items-per-page>
            </div>
            
                <div class="container rating-block">
					<h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2>
					<div class="rating">
                        <i class="fa-solid fa-star" style="color: rgb(214, 136, 18)"></i>
                        <i class="fa-solid fa-star" style="color: rgb(214, 136, 18)"></i>
                        <i class="fa-solid fa-star" style="color: rgb(214, 136, 18)"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>
				</div>
         
                <app-review-card [reviews]="review_array"></app-review-card>
                    <nav class="mt-3" ria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                        </ul>
                    </nav>
                </div>
        <!-- </div> -->
   
    </main>

 
