<div [ngSwitch]="isEnabled">
    <button *ngSwitchCase="true" type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#modalWritePoem"><i class="bi bi-vector-pen me-1"></i>Agregar Poema</button>
    <span *ngSwitchCase="false"  title="Debe realizar mas reseñas para poder publicar un nuevo poema"> 
        <button disabled type="button" class="btn btn-primary me-2"
                data-bs-toggle="modal" data-bs-target="#modalWritePoem">
          <i class="bi bi-vector-pen me-1"></i>Agregar Poema
        </button>
      </span>
      
</div>
    
