<div class="modal fade" id="modalSignInForm" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
          <!-- Sign Form -->
          <form action="">
            <div class="modal-header">
              <h5 class="modal-title">Sign Up</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="mb-3">
                  <label for="Username">Username<span class="text-danger">*</span></label>
                  <input type="text" name="username" class="form-control" id="Username" placeholder="Enter Username">
              </div>
              <div class="mb-3">
                  <label for="E-mail">E-mail<span class="text-danger">*</span></label>
                  <input type="text" name="username" class="form-control" id="E-mail" placeholder="Enter E-mail">
              </div>
  
  
              <div class="mb-3">
                  <label for="Password">Password<span class="text-danger">*</span></label>
                  <input type="password" name="password" class="form-control" id="Password" placeholder="Enter Password">
              </div>
              
            </div>
            <div class="modal-footer pt-4">                  
              <button type="button" class="btn btn-primary mx-auto w-100">Sign-Up</button>
            </div>
        </form>
      </div>
    </div>
  </div>