<div class="container d-flex gap-1 justify-content-left">
    <div class="form-group">
        <label for="Autor">Autor</label>
        <input type="text" name="campoautor" id="autor" class="form-control">
        
    </div>
    <div class="form-group">
      <label for="Titulo">Cantidad de poemas mayor a</label>
          <input type="text" name="campotitulo" id="titulo" class="form-control">
    </div>
    <div class="form-group">
      <label for="Titulo">Cantidad de reviews mayor a</label>
          <input type="text" name="campotitulo" id="titulo" class="form-control">
      </div>
    <div class="ms-auto">
      <app-sign-up-modal></app-sign-up-modal>
    </div>
    
</div>
<div class="container d-flex gap-1 justify-content-center">
    <table class="table table-striped">
        <thead>
          <tr >
            <th scope="col">#</th>
            <th scope="col">Usuario(Alias)</th>
            <th scope="col">email</th>
            <th class="text-center" scope="col">Cantidad de Poemas</th>
            <th class="text-center" scope="col">Cantidad de reviews</th>
            <th class="text-center" scope="col">ADMIN</th>
            <th class="text-center" scope="col">Eliminar Usuario</th>
          </tr>
        </thead>
        
          <tbody>
            
            <tr *ngFor="let user of users">
              <th scope="col">{{user.id}}</th>
              <td>{{user.alias}}</td>
              <td>{{user.email}}</td>
              <td class="text-center">{{user.poem_count}}</td>
              <td class="text-center">{{user.review_count}}</td>
              <td class="text-center">
                <div class="form-check text-center">
                  <input class="form-check-input text-center" type="checkbox" value="" id="flexCheckDefault">
                  <label class="form-check-label" for="flexCheckDefault">
                  </label>
                </div>
              </td>
              <td class="text-center"> 
                <!-- Modal confirmacion delete user-->
                  <div class="modal fade" tabindex="-1" role="dialog" id="confirmationModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">Confirmar Eliminación</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          ¿Está seguro que desea eliminar este usuario :{{user.alias}} ?
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                          <button type="button" class="btn btn-danger" (click)="deleteUserConfirmed(user.id)">Eliminar</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <button class="btn btn-danger btn-sm rounded-0" type="button" (click)="openConfirmationModal()" data-placement="top" title="Delete">
                    <i class="bi bi-trash3-fill"></i>
                  </button>
        

              </td>

            </tr>
          
          </tbody>
      
      </table>
    </div>
  
