<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">        
        <title>Programación 1</title>

        <!-- Bootstrap --->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
        
        <!-- font-awesome (iconos)-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
        
        <!-- Style propios -->
        <link rel="stylesheet" href="/app/app.component.css">
    
        <meta name="theme-color" content="#black">
    </head>
    <body>
        
        <!-- Signed-In Header -->
       <app-singed-in-header></app-singed-in-header>


    <main style="min-height: 80vh;">
    
    <div class="container d-flex gap-1 justify-content-left">
        <!-- Boton Add Peom -->
        <app-add-poem-btn></app-add-poem-btn>
        <div class="container d-flex gap-1 justify-content-left flex-row-reverse">
            <!-- Items per Page -->
            <app-items-per-page></app-items-per-page>
        </div>

    </div>
<!-- Modal Write Poem -->
<app-add-poem-form></app-add-poem-form>


    <div class="album py-5 bg-light">
        <div class="container">

       <!-- Poemas -->
       <app-poem-card></app-poem-card>
        </div>
        <!-- Pagination -->
        <app-pagination></app-pagination>
    </div>
</main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

    </body>
</html>
